# Note:
#   Do not ignore the *.cabal files, they should be in git
#   For further reading, see https://www.fpcomplete.com/blog/storing-generated-cabal-files/

# General temporaries, backups, swapfiles...
*~
*.sw[pon]
*.bak
.DS_Store

# Project specific temporaries, local and build directories
/local
.stack-work/
*-benchmarks.html

# IDE files
*.sublime-project
*.sublime-workspace

# Haskell-specifics from https://github.com/github/gitignore/blob/master/Haskell.gitignore
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

